@page
@model EarlyLearningHub.Pages.Main.Upload.UploadModel
@{
    ViewData["Title"] = "Upload";
}

<h2>Upload</h2>

<input id="File1" type="file" /><input id="Submit1" type="submit" value="submit" />