@page
@model EarlyLearningHub.Pages.TableMaintenanceModel
@{
    ViewData["Title"] = "TableMaintenance";
}

<h2>Table Maintenance</h2>

<p>For Admin Use Only</p>



<ul>
    <li><a asp-page="/TableMaintenance/County/Index">County</a></li>
    <li><a asp-page="/TableMaintenance/ExitReason/Index">Exit Reason</a></li>
    <li><a asp-page="/TableMaintenance/ELHub/Index">Early Learning Hub</a></li>
    <li><a asp-page="/TableMaintenance/Provider/Index">Provider</a></li>
    <li><a asp-page="/TableMaintenance/ProviderType/Index">Provider Type</a></li>
    <li><a asp-page="/TableMaintenance/EducationLevel/Index">Education Level</a></li>
</ul>

